replicas: 1

resources:
  requests:
  limits:
    cpu: 8
    memory: 54Gi
  requests:
    cpu: 8
    memory: 54Gi

nodeSelector:
  #solo.hashgraph.io/role: "auxiliary-services"consensus-node
  solo.hashgraph.io/role: "consensus-node"
  solo.hashgraph.io/owner: "%NETWORK_OWNER%"
  solo.hashgraph.io/network-id: "%NETWORK_ID%"
tolerations:
  - key: "solo.hashgraph.io/role"
    operator: "Equal"
    #value: "auxiliary-services"
    value: "consensus-node"
    effect: "NoSchedule"
  - key: "solo.hashgraph.io/owner"
    operator: "Equal"
    value: "%NETWORK_OWNER%"
    effect: "NoSchedule"
  - key: "solo.hashgraph.io/network-id"
    operator: "Equal"
    value: "%NETWORK_ID%"
    effect: "NoSchedule"

blockNode:
  # if blank will use same as AppVersion of chart.
  version: ""
  config:
    BLOCK_NODE_EARLIEST_MANAGED_BLOCK: "1000"
    JAVA_OPTS: '-Xms16G -Xmx16G -XX:+HeapDumpOnOutOfMemoryError -XX:HeapDumpPath="/tmp/dump.hprof"'
  health:
    readiness:
      endpoint: "/healthz/readyz"
    liveness:
      endpoint: "/healthz/livez"

  persistence:
    archive:
      # name of the volume within the statefulset
      volumeName: "archive-storage"
      # Name of the subPath in the volume to mount to mountPath in the container
      subPath: "archive-data"
      # should match PERSISTENCE_STORAGE_ARCHIVE_ROOT_PATH, leave as is for default.
      mountPath: "/opt/hiero/block-node/data/historic"
      size: 800Gi
      # Optionally add a storage class name if needed
      storageClass: "local-path"
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      existingClaim: "archive-storage-block-node-%NODE_ID%-0"
    logging:
      # name of the volume within the statefulset
      volumeName: "logging-storage"
      mountPath: "/opt/hiero/block-node/logs"
      size: 2Gi
      # Optionally add a storage class name if needed
      storageClass: "local-path"
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      existingClaim: "logging-storage-block-node-%NODE_ID%-0"
    live:
      # name of the volume within the statefulset
      volumeName: "live-storage"
      # Name of the subPath in the volume to mount to mountPath in the container
      subPath: "live-data"
      # should match PERSISTENCE_STORAGE_LIVE_ROOT_PATH, leave as is for default.
      mountPath: "/opt/hiero/block-node/data/live"
      size: 20Gi
      # Optionally add a storage class name if needed
      storageClass: "local-path"
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      existingClaim: "live-storage-block-node-%NODE_ID%-0"
    verification:
      # name of the volume within the statefulset
      volumeName: "verification-storage"
      # should match VERIFICATION_ALL_BLOCKS_HASHER_FILE_PATH parent directory
      mountPath: "/opt/hiero/block-node/verification"
      size: 1Gi
      # Optionally add a storage class name if needed
      storageClass: "local-path"
      # Optionally specify an existing PVC name instead of creating via volumeClaimTemplate
      existingClaim: "verification-storage-block-node-%NODE_ID%-0"
