apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: %PVC_NAME%-%NODE_ID%-0
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 128Mi
