replicas: 1

resources:
  requests:
  limits:
    cpu: 8
    memory: 54Gi
  requests:
    cpu: 8
    memory: 54Gi

nodeSelector:
  #solo.hashgraph.io/role: "auxiliary-services"consensus-node
  solo.hashgraph.io/role: "consensus-node"
  solo.hashgraph.io/owner: "%NETWORK_OWNER%"
  solo.hashgraph.io/network-id: "%NETWORK_ID%"
tolerations:
  - key: "solo.hashgraph.io/role"
    operator: "Equal"
    #value: "auxiliary-services"
    value: "consensus-node"
    effect: "NoSchedule"
  - key: "solo.hashgraph.io/owner"
    operator: "Equal"
    value: "%NETWORK_OWNER%"
    effect: "NoSchedule"
  - key: "solo.hashgraph.io/network-id"
    operator: "Equal"
    value: "%NETWORK_ID%"
    effect: "NoSchedule"

blockNode:
  persistence:
    archive:
      size: 16Gi
    live:
      size: 4Gi
    logging:
      size: 2Gi
    verification:
      size: 500Mi