# SPDX-License-Identifier: Apache-2.0
name: "210: [FLOW] Merge Queue Controller"
on:
  push:
    branches:
      - trunk-merge/**

permissions:
  contents: read
  id-token: write
  pull-requests: write

jobs:
  # Trigger the MQ XTS Tests
  trigger-merge-queue-xts-tests:
    name: Merge Queue XTS Required Tests
    uses: ./.github/workflows/zxc-xts-tests.yaml
    with:
      ref: ${{ github.ref }}
      branch_name: ${{ github.ref_name }}
      solo-version: ${{ vars.CITR_SOLO_VERSION }}
      solo-ge-0440: "true"
      helm-release-name: "mirror-1"
      custom-job-label: "Merge Queue XTS:"
      enable-timing-sensitive-test-suite: "true"
      enable-hammer-test-suite: "true"
      enable-hapi-test-suite: "true"
      enable-otter-test-suite: "true"
      enable-hedera-node-jrs-panel: "true"
      enable-sdk-tck-regression-panel: "true"
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      platform-access-token: ${{ secrets.PLATFORM_GH_ACCESS_TOKEN }}
      regression-access-token: ${{ secrets.GH_ACCESS_TOKEN }}
      gcp-project-number: ${{ secrets.PLATFORM_GCP_PROJECT_NUMBER }}
      gcp-sa-key-contents: ${{ secrets.PLATFORM_GCP_KEY_FILE }}
      gradle-cache-username: ${{ secrets.GRADLE_CACHE_USERNAME }}
      gradle-cache-password: ${{ secrets.GRADLE_CACHE_PASSWORD }}
      grafana-agent-username: ${{ secrets.GRAFANA_AGENT_USERNAME }}
      grafana-agent-password: ${{ secrets.GRAFANA_AGENT_PASSWORD }}
      jrs-ssh-user-name: ${{ secrets.PLATFORM_JRS_SSH_USER_NAME }}
      jrs-ssh-key-file: ${{ secrets.PLATFORM_JRS_SSH_KEY_FILE }}
      slack-api-token: ${{ secrets.PLATFORM_SLACK_API_TOKEN }}
      slack-citr-details-token: ${{ secrets.SLACK_CITR_DETAILED_REPORTS_WEBHOOK }}
      slack-tck-report-webhook: ${{ secrets.SLACK_TCK_MONITOR_WEBHOOK }}

  # Trigger the MQ Performance/Longevity Tests
#  trigger-merge-queue-performance-longevity-tests:
#    name: Merge Queue Performance/Longevity Tests
#    uses: ./.github/workflows/zxc-performance-tests.yaml
