# SPDX-License-Identifier: Apache-2.0
name: "Generate Release Notes"
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "Release Version Number (ex: 0.59.2):"
        type: string
        required: true
      dry-run-enabled:
        description: "Perform Dry Run"
        type: boolean
        required: false
        default: false

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: write
  actions: read

jobs:
  generate-release-notes:
    name: Generate Release Notes
    uses: ./.github/workflows/zxc-create-github-release.yaml
    with:
      release-version: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.version }}
      create-release-notes: true
      create-release: false
      dry-run: ${{ inputs.dry-run-enabled }}
    secrets:
      gh-access-token: ${{ secrets.GH_ACCESS_TOKEN }}
