# SPDX-License-Identifier: Apache-2.0
name: "[CITR] MATS Dry Run"
on:
  workflow_dispatch:
    inputs:
      ref:
        description: "The git ref (branch or tag) to checkout"
        required: false
        default: ""
      enable-spotless-check:
        description: "Spotless Check Enabled"
        type: boolean
        required: false
        default: true
      enable-dependency-check:
        description: "Dependency Check Enabled"
        type: boolean
        required: false
        default: true
      enable-unit-tests:
        description: "Unit Testing Enabled"
        type: boolean
        required: false
        default: true
      enable-integration-tests:
        description: "Integration Testing Enabled"
        type: boolean
        required: false
        default: true
      enable-hapi-tests:
        description: "HAPI Testing Enabled"
        type: boolean
        required: false
        default: true
      enable-otter-tests:
        description: "Otter Tests Enabled"
        type: boolean
        required: false
        default: true
      enable-snyk-scan:
        description: "Snyk Scan Enabled"
        type: boolean
        required: false
        default: true
      enable-gradle-determinism:
        description: "Gradle Build Determinism Check Enabled"
        type: boolean
        required: false
        default: true
      enable-docker-determinism:
        description: "Docker Build Determinism Check Enabled"
        type: boolean
        required: false
        default: true
      custom-job-label:
        description: "Custom Job Label"
        type: string
        required: false
        default: "MATS Tests"

permissions:
  id-token: write
  actions: read
  pull-requests: write
  statuses: write
  checks: write
  contents: read

defaults:
  run:
    shell: bash

jobs:
  mats-tests:
    name: MATS Tests
    uses: ./.github/workflows/zxc-mats-tests.yaml
    with:
      ref: ${{ inputs.ref || '' }}
      enable-spotless-check: "${{ inputs.enable-spotless-check || 'false' }}"
      enable-dependency-check: "${{ inputs.enable-dependency-check || 'false' }}"
      enable-unit-tests: "${{ inputs.enable-unit-tests || 'false' }}"
      enable-integration-tests: "${{ inputs.enable-integration-tests || 'false' }}"
      enable-hapi-tests: "${{ inputs.enable-hapi-tests || 'false' }}"
      enable-hapi-tests-crypto: "${{ inputs.enable-hapi-tests || 'false' }}"
      enable-otter-tests: "${{ inputs.enable-otter-tests || 'false' }}"
      enable-snyk-scan: "${{ inputs.enable-snyk-scan || 'false' }}"
      enable-gradle-determinism: "${{ inputs.enable-gradle-determinism || 'false' }}"
      enable-docker-determinism: "${{ inputs.enable-docker-determinism || 'false' }}"
      java-version: "21.0.6"
      java-distribution: "temurin"
      custom-job-label: "${{ inputs.custom-job-label || 'MATS (dry-run):' }}"
    secrets:
      access-token: ${{ secrets.GITHUB_TOKEN }}
      codacy-project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}
      codecov-token: ${{ secrets.CODECOV_TOKEN }}
      gradle-cache-username: ${{ secrets.GRADLE_CACHE_USERNAME }}
      gradle-cache-password: ${{ secrets.GRADLE_CACHE_PASSWORD }}
      snyk-token: ${{ secrets.SNYK_TOKEN }}
