# SPDX-License-Identifier: Apache-2.0
name: "Generate Release Notes"
on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:
    inputs:
      version:
        description: "Release Version Number (ex: 0.59.2):"
        type: string
        required: true

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  generate-release-notes:
    name: Generate Release Notes
    uses: ./.github/workflows/zxc-create-github-release.yaml
    with:
      release-version: ${{ github.event_name == 'push' && github.ref_name || github.event.inputs.version }}
      release-notes: true
      create-release: false
    secrets:
      gh-access-token: ${{ secrets.GH_ACCESS_TOKEN }}
