# SPDX-License-Identifier: Apache-2.0
name: "ZXC: Executable MATS Tests"
on:
  workflow_call:
    inputs:
      ref:
        description: "Git Reference to Test"
        type: string
        required: false
        default: ""
      enable-unit-tests:
        description: "Unit Testing Enabled"
        type: string
        required: false
        default: "false"
      enable-integration-tests:
        description: "Integration Testing Enabled"
        type: string
        required: false
        default: "false"
      enable-hapi-tests:
        description: "HAPI Testing Enabled"
        type: string
        required: false
        default: "false"
      enable-spotless-check:
        description: "Spotless Check Enabled"
        type: string
        required: false
        default: "false"
      enable-otter-tests:
        description: "Otter Tests Enabled"
        type: string
        required: false
        default: "false"
      enable-snyk-scan:
        description: "Snyk Scan Enabled"
        type: string
        required: false
        default: "false"
      enable-gradle-determinism:
        description: "Gradle Build Determinism Check Enabled"
        type: string
        required: false
        default: "false"
      enable-docker-determinism:
        description: "Docker Build Determinism Check Enabled"
        type: string
        required: false
        default: "false"
      java-version:
        description: "Java JDK Version"
        type: string
        required: false
        default: "21.0.6"
      java-distribution:
        description: "Java JDK Distribution"
        type: string
        required: false
        default: "temurin"
      custom-job-label:
        description: "Custom Job Label"
        type: string
        required: false
        default: "MATS Tests"

    secrets:
      access-token:
        description: "Github Access Token"
        required: false
      codacy-project-token:
        description: "Codacy Project Token"
        required: false
      codecov-token:
        description: "Codecov Token"
        required: false
      gradle-cache-username:
        description: "Gradle Cache Username"
        required: true
      gradle-cache-password:
        description: "Gradle Cache Password"
        required: true
      snyk-token:
        required: false

    outputs:
      failure-mode:
        description: "Failure Mode"
        value: ${{ jobs.set-failure-mode.outputs.failure-mode }}
      failed-tests:
        description: "List of failed Tests"
        value: ${{ jobs.set-failure-mode.outputs.failed-tests }}

permissions:
  id-token: write
  actions: read
  pull-requests: write
  statuses: write
  checks: write
  contents: read

defaults:
  run:
    shell: bash

jobs:
  mats-unit-tests:
    name: Unit Tests
    if: ${{ inputs.enable-unit-tests == 'true' }}
    uses: ./.github/workflows/zxc-run-unit-tests.yaml
    with:
      ref: ${{ inputs.ref || '' }}
      custom-job-label: "${{ inputs.custom-job-label }} Unit Tests"
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
    secrets:
      access-token: ${{ secrets.access-token }}
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}
      codacy-project-token: ${{ secrets.codacy-project-token }}
      codecov-token: ${{ secrets.codecov-token }}

  mats-integration-tests:
    name: Integration Tests
    if: ${{ inputs.enable-integration-tests == 'true' }}
    uses: ./.github/workflows/zxc-run-integration-tests.yaml
    with:
      ref: ${{ inputs.ref || '' }}
      custom-job-label: "${{ inputs.custom-job-label }} Integration"
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
      enable-network-log-capture: true
    secrets:
      access-token: ${{ secrets.access-token }}
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}

  mats-hapi-tests:
    name: HAPI Tests
    if: ${{ inputs.enable-hapi-tests == 'true' }}
    uses: ./.github/workflows/zxc-run-hapi-tests.yaml
    with:
      ref: ${{ inputs.ref || '' }}
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
      enable-hapi-tests-misc: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-misc-records: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-crypto: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-simplefees: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-iss: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-token: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-smart-contract: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-restart: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-hapi-tests-nd-reconnect: ${{ inputs.enable-hapi-tests == 'true' }}
      enable-network-log-capture: true
      mats-suffix: MATS
    secrets:
      access-token: ${{ secrets.access-token }}
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}

  mats-otter-tests:
    name: Otter Tests
    if: ${{ inputs.enable-otter-tests == 'true' }}
    uses: ./.github/workflows/zxc-run-otter-tests.yaml
    with:
      ref: ${{ inputs.ref || '' }}
      custom-job-label: "${{ inputs.custom-job-label }} Otter Tests"
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
      enable-fast-otter-tests: ${{ inputs.enable-otter-tests == 'true' }}
      enable-network-log-capture: true
    secrets:
      access-token: ${{ secrets.access-token }}
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}

  mats-gradle-determinism:
    name: Gradle Determinism
    uses: ./.github/workflows/zxc-verify-gradle-build-determinism.yaml
    if: ${{ inputs.enable-gradle-determinism == 'true' }}
    with:
      ref: ${{ inputs.ref || '' }}
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
    secrets:
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}

  mats-docker-determinism:
    name: Docker Determinism
    uses: ./.github/workflows/zxc-verify-docker-build-determinism.yaml
    if: ${{ inputs.enable-docker-determinism == 'true' }}
    with:
      ref: ${{ inputs.ref || '' }}
      java-version: ${{ inputs.java-version || '21.0.6' }}
      java-distribution: ${{ inputs.java-distribution || 'temurin' }}
    secrets:
      gradle-cache-username: ${{ secrets.gradle-cache-username }}
      gradle-cache-password: ${{ secrets.gradle-cache-password }}

  set-failure-mode:
    name: Set Failure Mode
    runs-on: hiero-citr-linux-medium
    outputs:
      failure-mode: ${{ steps.set-failure-mode.outputs.failure-mode }}
      failed-tests: ${{ steps.set-failure-mode.outputs.failed-tests }}
    needs:
      - mats-unit-tests
      - mats-integration-tests
      - mats-hapi-tests
      - mats-otter-tests
      - mats-gradle-determinism
      - mats-docker-determinism
    if: ${{ !cancelled() && always() }} # always run unless cancelled
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: "0"
          ref: ${{ inputs.ref || '' }}

      - name: Set Failure Mode
        id: set-failure-mode
        run: |
          job_statuses=(
            ${{ needs.mats-unit-tests.result || 'skipped' }}
            ${{ needs.mats-integration-tests.result || 'skipped' }}
            ${{ needs.mats-hapi-tests.result || 'skipped' }}
            ${{ needs.mats-otter-tests.result || 'skipped' }}
          )
          job_failure_modes=(
            ${{ needs.mats-unit-tests.outputs.failure-mode || 'none' }}
            ${{ needs.mats-integration-tests.outputs.failure-mode || 'none' }}
            ${{ needs.mats-hapi-tests.outputs.failure-mode || 'none' }}
            ${{ needs.mats-otter-tests.outputs.failure-mode || 'none' }}
          )
          job_names=(
            "mats-unit-tests"
            "mats-integration-tests"
            "mats-hapi-tests"
            "mats-otter-tests"
          )

          # Final outputs
          failure_mode="none"
          failed_tests=""

          # go through all of the job statuses and check failure mode (none | workflow | general)
          # if any job failed (failure-mode != none) then set the failure mode for the workflow
          # to that jobs failure mode.
          # only set failure mode once
          # append the failing job to the failed-tests list.

          for job in "${!job_statuses[@]}"; do
            status=${job_statuses[$job]}
            mode=${job_failure_modes[$job]}
            name=${job_names[$job]}

            if [[ "$status" == "failure" ]]; then
              if [[ "$mode" != "none" && "$failure_mode" == "none" ]]; then
                failure_mode="$mode"
              fi
              if [[ -z "$failed_tests" ]]; then
                failed_tests="$name"
              else
                failed_tests="$failed_tests, $name"
              fi
            fi
          done

          # if any determinism jobs failed, set failure mode to 'general' if not already set to something
          # other than "none"
          # Add the failed determinism job to the failed-tests list

          determinism_statuses=(
            ${{ needs.mats-gradle-determinism.result || 'skipped' }}
            ${{ needs.mats-docker-determinism.result || 'skipped' }}
          )
          determinism_names=(
            "mats-gradle-determinism"
            "mats-docker-determinism"
          )

          for job in "${!determinism_statuses[@]}"; do
            status=${determinism_statuses[$job]}
            name=${determinism_names[$job]}

            if [[ "$status" == "failure" ]]; then
              if [[ "$failure_mode" == "none" ]]; then
                failure_mode="general"
              fi
              if [[ -z "$failed_tests" ]]; then
                failed_tests="$name"
              else
                failed_tests="$failed_tests, $name"
              fi
            fi
          done

          echo "failure-mode=${failure_mode}" >> "${GITHUB_OUTPUT}"
          echo "failed-tests=${failed_tests}" >> "${GITHUB_OUTPUT}"
